@model Duil_App.Models.Encomendas

@{
    ViewData["Title"] = "Apagar Encomenda";
}

<div>
    <a asp-action="Index"><i class="bi bi-arrow-left fs-3 ms-3" title="Voltar" style="color:#6B97AC"></i></a>
</div>

<div class="w-50" style="margin-left:10%; margin-top:5%">
<h3>Tem a certeza que deseja apagar esta encomenda?</h3>
<div>
		<hr class="mb-5" />
		<dl class="row mt-4">
			<dt class="col-sm-4 mb-3">
				@Html.DisplayNameFor(model => model.Id)
			</dt>
			<dd class="col-sm-5 mb-3">
				@Html.DisplayFor(model => model.Id)
			</dd>
			<dt class="col-sm-4 mb-3">
				@Html.DisplayNameFor(model => model.IdLadoCliente)
			</dt>
			<dd class="col-sm-5 mb-3">
				@Html.DisplayFor(model => model.IdLadoCliente)
			</dd>
			<dt class="col-sm-4 mb-3">
				@Html.DisplayNameFor(model => model.ClienteId)
			</dt>
			<dd class="col-sm-5 mb-3">
				@Html.DisplayFor(model => model.Cliente.Nome)
			</dd>
			<dt class="col-sm-4 mb-3">
				@Html.DisplayNameFor(model => model.Data)
			</dt>
			<dd class="col-sm-5 mb-3">
				@Html.DisplayFor(model => model.Data)
			</dd>
			<dt class="col-sm-4 mb-3">
				@Html.DisplayNameFor(model => model.QuantidadeTotal)
			</dt>
			<dd class="col-sm-5 mb-3">
				@Html.DisplayFor(model => model.QuantidadeTotal)
			<dt class="col-sm-4 mb-3">
					@Html.DisplayNameFor(model => model.TotalPrecoUnit)
			</dt>
			<dd class="col-sm-5 mb-3">
					@Html.DisplayFor(model => model.TotalPrecoUnit)
			</dd>
			<dt class="col-sm-4 mb-3">
					@Html.DisplayNameFor(model => model.Transportadora)
			</dt>
			<dd class="col-sm-5 mb-3">
					@Html.DisplayFor(model => model.Transportadora)
			</dd>
			<dt class="col-sm-4 mb-3">
					@Html.DisplayNameFor(model => model.Estado)
			</dt>
			<dd class="col-sm-5 mb-3">
					@Html.DisplayFor(model => model.Estado)
			</dd>
		</dl>
	</div>

    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Remover" class="btn btn-danger" />
    </form>
</div>
