@model IEnumerable<Duil_App.Models.Encomendas>

@{
    ViewData["Title"] = "Index";
}

<h1>Listagem de Encomendas</h1>

<p>
    <a asp-action="Create">Criar nova encomenda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                OE
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrecoUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
   
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdLadoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrecoUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
