@page
@model RegisterModel
@using Duil_App.Resources

@{
    ViewData["Title"] = @Resource.RegistarSE;
}
<div asp-validation-summary="All" class="text-danger" role="alert"></div>

<div class="row justify-content-center p-3">
    <div class="col-md-7 p-5 m-3" style="background-color:#E1E1E166">
        <form class="px-5" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <h2 style="color:#414141">@ViewData["Title"]</h2>
            <hr style="border: solid #6B97AC 2px" />
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-4  ">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder=@Resource.EmailExemplo />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-4  ">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder=@Resource.Palavrapasse />
                        <label asp-for="Input.Password">@Resource.Palavrapasse</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-4  ">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder=@Resource.Palavrapasse />
                        <label asp-for="Input.ConfirmPassword">@Resource.ConfirmarPasse</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-4  ">
                        <input asp-for="Input.Nome" class="form-control" />
                        <label asp-for="Input.Nome"></label>
                        <span asp-validation-for="Input.Nome" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg text-white" style="background:#6B97AC">@Resource.ConfirmarRegisto</button>

                </div>

                <div class="col-md-6 ms-auto">
                    <div class="form-floating mb-4 pe-0">
                        <select asp-for="Input.Pais" class="form-select" asp-items="Model.ListaPaises">
                            <option value="">@Resource.SelecionarPais</option>
                        </select>
                        <label asp-for="Input.Pais">@Resource.Pais</label>
                        <span asp-validation-for="Input.Pais" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-4">
                        <input asp-for="Input.NIF" class="form-control" />
                        <label asp-for="Input.NIF"></label>
                        <span asp-validation-for="Input.NIF" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-4">
                        <input asp-for="Input.CodPostal" class="form-control" />
                        <label asp-for="Input.CodPostal"></label>
                        <span asp-validation-for="Input.CodPostal" class="text-danger"></span>
                    </div>


                    <div class="form-floating mb-4">
                        <input asp-for="Input.Telemovel" class="form-control" />
                        <label asp-for="Input.Telemovel"></label>
                        <span asp-validation-for="Input.Telemovel" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="col-md-6 col-md-offset-2">
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
