@using Duil_App.Resources

@{
	ViewData["Title"] = Resource.PaginaInicialViewTitle;
}

<div class="position-relative mb-5" style="height: 35vw; overflow: hidden;">
	<!-- Imagem de fundo -->
	<img src="~/ceramica.png"
		 class="position-absolute top-0 start-0 w-100 h-100 mb-5"
		 style="z-index: -1; object-fit: cover;" alt="Imagem de fundo" />

	<div class="container-fluid d-flex justify-content-center align-items-center"
		 style="height: 250px; background-color: rgba(49, 0, 13, 0.25);">
		<h1 class="text-white fw-semibold fs-1 mb-0">
			@Resource.BemVindoADuil
		</h1>
	</div>
</div>

<!-- Secção 1: Quem somos -->
<div class="text-center position-relative">
	<hr class="mt-5" />
	<strong><span class="position-absolute top-50 start-50 translate-middle px-3 bg-white fs-2 grey-text ">
		@Resource.QuemSomos
		</span>
	</strong>
</div>

<p class="fs-5 ps-5 mt-5 text-center">@Resource.QuemSomosTexto</p>


<div class="container-fluid py-5 mt-3">

	<!-- Secção 2: O que fazemos -->
	<div class="row align-items-center mb-4" style="background-color:#E1BC8F66">
		<div class="col-md-1">
		</div>
		<div class="col-md-6">
			<strong><p class=" fs-2 mb-5 grey-text">@Resource.OQueFazemos</p></strong>
			<p class=" fs-5">@Resource.OQueFazemosTexto</p>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-4">
			<img src="~/processo.png" alt="Processo de desenvolvimento" class="d-block ms-5 rounded " style="width:60%">
		</div>

	</div>

	<!-- Secção 3: A nossa missão -->
	<div class="row align-items-center mb-5"> 
		<div class="col-md-1">
		</div>

		<div class="col-md-4">
			<img src="~/global-social.png" alt="Conexão internacional"
				 class="d-block rounded" style="width: 60%;">
		</div>

		<!-- Texto à direita -->
		<div class="col-md-6 text-end">
			<strong><p class="fs-2 grey-text s">@Resource.ANossaMissao</p></strong>
			<p class="fs-5">@Resource.ANossaMissaoTexto</p>
		</div>
	</div>

	<!-- Secção 4: A nossa história -->
	<div class="row align-items-center mb-5" style="background-color:#E1BC8F66">
		<!-- Texto à esquerda -->
		<div class="col-md-5 offset-md-1">
			<strong><p class="fs-2 grey-text">@Resource.ANossaHistoria</p></strong>
			<p class="fs-5">
				@Resource.ANossaHistoriaTexto
			</p>
		</div>
		<div class="col-md-1">
		</div>
		<!-- Imagem com espaçamento -->
		<div class="col-md-5 py-4 d-flex justify-content-center">
			<img src="~/nossa-historia.jpg" alt="Conexão internacional"
				 class="rounded shadow" style="width: 50%; max-width: 500px; max-height: 300px; object-fit: cover;">
		</div>
	</div>

	<!-- Frase de impacto -->
	<div class="text-center  p-5 rounded">
		<h3 class="fw-bold">@Resource.FraseDeImpacto</h3>
		<p class="lead">@Resource.SubtituloFraseImpacto</p>
	</div>

</div>
