@model Duil_App.Models.Clientes

@{
    ViewData["Title"] = "Detalhes do Cliente";
}

<div>
    <a asp-action="Index"><i class="bi bi-arrow-left fs-3 ms-3" title="Voltar" style="color:#6B97AC"></i></a>
</div>


<div class="w-50" style="margin-left:10%; margin-top:5%">
    <h3 style="display:inline;">@Html.DisplayFor(model => model.Nome)</h3>
    <a asp-action="Edit" asp-route-id="@Model?.Nif" title="Modificar"><i class="ms-3 bi bi-pencil-fill"></i></a>
    <hr class="mb-5" />
    <dl class="row mt-4">
        <dt class="col-sm-4 mb-3">
            @Html.DisplayNameFor(model => model.Nif)
        </dt>
        <dd class="col-sm-5 mb-3">
            @Html.DisplayFor(model => model.Nif)
        </dd>
        <dt class = "col-sm-4 mb-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-5 mb-3">
            @(string.IsNullOrWhiteSpace(Model.Nome) ? "Sem informação" : Model.Nome)
        </dd>
        <dt class = "col-sm-4 mb-3">
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd class = "col-sm-5 mb-3">
            @(string.IsNullOrWhiteSpace(Model.Morada) ? "Sem informação" : Model.Morada)
        </dd>
        <dt class="col-sm-4 mb-3">
            @Html.DisplayNameFor(model => model.MoradaCarga)
        </dt>
        <dd class="col-sm-5 mb-3">
            @(string.IsNullOrWhiteSpace(Model.MoradaCarga) ? "Sem informação" : Model.MoradaCarga)
        </dd>
        <dt class="col-sm-4 mb-3">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class="col-sm-5 mb-3">
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt class = "col-sm-4 mb-3">
            @Html.DisplayNameFor(model => model.CodPostal)
        </dt>
        <dd class = "col-sm-5 mb-3">
            @(string.IsNullOrWhiteSpace(Model.CodPostal) ? "Sem informação" : Model.CodPostal)
        </dd>
        <dt class = "col-sm-4 mb-3">
            @Html.DisplayNameFor(model => model.Telemovel)
        </dt>
        <dd class = "col-sm-5 mb-3">
            @(string.IsNullOrWhiteSpace(Model.CodPostal) ? "Sem informação" : Model.Telemovel)
        </dd>
        <dt class = "col-sm-4 mb-3">
            @Html.DisplayNameFor(Model => Model.Email)
        </dt>
        <dd class="col-sm-5 mb-3">
            @(string.IsNullOrWhiteSpace(Model.Email) ? "Sem informação" : Model.Email)
        </dd>
        
    </dl>
</div>
<div>
   
</div>
