@model IEnumerable<Duil_App.Models.Clientes>

@{
    ViewData["Title"] = "Index";
    ViewData["BodyClass"] = "paginas-index-fundo";
}

<div class="container-fluid d-flex justify-content-center align-items-center position-relative"
     style="height: 250px; background-color: #002333;">

    <h1 class="fw-light">Clientes</h1>

    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create"
           class="btn position-absolute fs-5 px-5 py-3 navbar-blue text-white "
           style="bottom: 0; transform: translateY(50%); right: 80px; border-radius: 10px;">
            Adicionar Cliente
        </a>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telemovel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telemovel)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Nif">Modificar | </a> 
                    <a asp-action="Delete" asp-route-id="@item.Nif">Apagar</a> 
                }
                <a asp-action="Details" asp-route-id="@item.Nif">Mais info</a> 
             
            </td>
        </tr>
}
    </tbody>
</table>
