@model Duil_App.Models.Pecas

@{
	ViewData["Title"] = "Apagar Peça";
	var fabricaNome = ViewData["FabricaNome"] as string;
}

<div>
	<a asp-action="Index"><i class="bi bi-arrow-left fs-3 ms-3" tilte="Voltar" style="color:#6B97AC"></i></a>
</div>

<div class="w-50" style="margin-left:10%; margin-top:5%">
	<h3>Tem a certeza que deseja apagar esta peça?</h3>
	<div>
		<hr class="mb-5" />
		<div class="row">
			<div class="col-md-8">
				<dl class="row">
					<dt class="col-sm-4 mb-3">
						@Html.DisplayNameFor(model => model.Referencia)
					</dt>
					<dd class="col-sm-5 mb-3">
						@Html.DisplayFor(model => model.Referencia)
					</dd>
					<dt class="col-sm-4 mb-3">
						@Html.DisplayNameFor(model => model.Designacao)
					</dt>
					<dd class="col-sm-5 mb-3">
						@Html.DisplayFor(model => model.Designacao)
					</dd>
					<dt class="col-sm-4 mb-3">
						@Html.DisplayNameFor(model => model.PrecoUnit)
					</dt>
					<dd class="col-sm-5 mb-3">
						@Html.DisplayFor(model => model.PrecoUnit)
					</dd>
					<dt class="col-sm-4 mb-3">
						@Html.DisplayNameFor(model => model.Fabrica)
					</dt>
					<dd class="col-sm-5 mb-3">
						@Html.DisplayFor(model => model.Fabrica.Nome)
					</dd>
					<dt class="col-sm-4 mb-3">
						@Html.DisplayNameFor(model => model.Cliente)
					</dt>
					<dd class="col-sm-5 mb-3">
						@Html.DisplayFor(model => model.Cliente.Nome)
					</dd>
				</dl>
			</div>
			<div class="col-sm-3 ms-0">
				@if (!string.IsNullOrEmpty(Model.Imagem))
				{
					<img src="@Url.Content($"~/images/{Model.Imagem}")" class="img-fluid" style="max-width: 300px;" alt="Imagem do cliente" />
				}
				else
				{
					<img src="@Url.Content("~/images/Default_Image.jpg")" class="img-fluid" style="max-width: 300px;" alt="Imagem padrão" />
				}
			</div>
		</div>
	</div>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Referencia" />
		<input type="submit" value="Remover" class="btn btn-danger" /> 
	</form>
</div>