@model Duil_App.Models.Pecas

@{
    ViewData["Title"] = "Detalhes da Peça";
}

<div>
    <a asp-action="Index"><i class="bi bi-arrow-left fs-3 ms-3" title="Voltar" style="color:#6B97AC"></i></a>
</div>

<div class="w-50" style="margin-left:10%; margin-top:5%">
    <h3 style="display:inline;"> Detalhes da peça ref: @Model.Referencia</h3>
    <a asp-action="Edit" asp-route-id="@Model?.Id" title="Modificar"><i class="ms-3 bi bi-pencil-fill"></i></a>
    <hr class="mb-5"/>
    <dl class="row">
        <dt class = "col-sm-4 mb-3">
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>
        <dd class = "col-sm-5 mb-3">
            @Html.DisplayFor(model => model.Referencia)
        </dd>
        <dt class = "col-sm-4 mb-3">
            @Html.DisplayNameFor(model => model.Designacao)
        </dt>
        <dd class = "col-sm-5 mb-3">
            @Html.DisplayFor(model => model.Designacao)
        </dd>
        <dt class = "col-sm-4 mb-3">
            @Html.DisplayNameFor(model => model.PrecoUnit)
        </dt>
        <dd class = "col-sm-5 mb-3">
            @Html.DisplayFor(model => model.PrecoUnit)
        </dd>
        <dt class = "col-sm-4 mb-3">
            @Html.DisplayNameFor(model => model.Fabrica)
        </dt>
        <dd class = "col-sm-5 mb-3">
            @Html.DisplayFor(model => model.Fabrica.Nome)
        </dd>
        <dt class = "col-sm-4 mb-3">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-5 mb-3">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
        <dt class = "col-sm-4 mb-3">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class = "col-sm-5 mb-3">
            @Html.DisplayFor(model => model.Imagem)
        </dd>
    </dl>
</div>
