﻿
<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Duil</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

</head>
<body class="@ViewData["BodyClass"]">
    @{
        var navBarClass = (User.IsInRole("Admin") || User.IsInRole("Funcionario") || User.IsInRole("Cliente"))
        ? "navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-blue box-shadow"
        : "navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-pink box-shadow";

        var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
        var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
    }


    <header>
        <nav class="@navBarClass">
            <div class="container-fluid">
                <a class="fs-4 ms-1 me-4 navbar-brand text-dark" asp-area="" asp-controller="Home" asp-action="Index">Duil</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link mx-2 @(currentController == "Utilizadores" ? "bg-white texto-cor-azul rounded px-3" : "text-white")" asp-area="" asp-controller="Utilizadores" asp-action="Index">Utilizadores</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Funcionario"))
                        {
                            <li class="nav-item">
                                <a class="nav-link mx-2 @(currentController == "Encomendas" ? "bg-white texto-cor-azul rounded px-3" : "text-white")" asp-area="" asp-controller="Encomendas" asp-action="Index">Encomendas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-2 @(currentController == "Fabricas" ? "bg-white texto-cor-azul rounded px-3" : "text-white")" asp-area="" asp-controller="Fabricas" asp-action="Index">Fábricas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-2 @(currentController == "Pecas" ? "bg-white texto-cor-azul rounded px-3" : "text-white")" asp-area="" asp-controller="Pecas" asp-action="Index">Peças</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-2 @(currentController == "Clientes" ? "bg-white texto-cor-azul rounded px-3" : "text-white")" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
                            </li>
                        }

                        @if (User.IsInRole("Cliente"))
                        {
                            <li class="nav-item">
                                <a class="nav-link mx-2 @(currentController == "Encomendas" & currentAction=="Create" ? "bg-white texto-cor-azul rounded px-3" : "text-white")" asp-area="" asp-controller="Encomendas" asp-action="Create">Criar Encomenda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-2 @(currentController == "Encomendas" & currentAction=="Index" ? "bg-white texto-cor-azul rounded px-3" : "text-white")" asp-area="" asp-controller="Encomendas" asp-action="Index">Registo de Encomendas</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mb-3 w-100" style="position: absolute; bottom: 0;">
        <div class="container">
            &copy; 2025 - Duil - <a asp-area="" asp-controller="Home" asp-action="Privacy">Sobre o Site</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>