@using Duil_App.Models
@using Duil_App.Resources
@inject SignInManager<Utilizadores> SignInManager
@{
}
<ul class="nav flex-column paginas-index-fundo p-3 rounded-3">
    <li class="nav-item mb-2">
        <a class="nav-link d-flex align-items-center gap-2 fw-semibold  @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
            <i class="bi bi-person-fill"></i> @Resource.DadosPEssoais
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link d-flex align-items-center gap-2 fw-semibold @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
            <i class="bi bi-shield-lock-fill"></i> @Resource.RePW
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link d-flex align-items-center gap-2 fw-semibold @ManageNavPages.UserStatisticsNavClass(ViewContext)" id="statistics" asp-page="./Statistics">
            <i class="bi bi-bar-chart-line-fill"></i> @Resource.Estatisticas
        </a>
    </li>
</ul>
