@page
@model Duil_App.Areas.Identity.Pages.Account.Manage.StatisticsModel
@{
    ViewData["Title"] = "Estatísicas";
    ViewData["ActivePage"] = ManageNavPages.Statistics;
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span><i class="bi bi-bag-fill me-2 text-primary"></i> Total de Encomendas</span>
                <strong>@Model.TotalEncomendas</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span><i class="bi bi-check-circle-fill me-2 text-success"></i> Encomendas Concretizadas</span>
                <strong>@Model.EncomendasConcretizadas</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span><i class="bi bi-gear-fill me-2 text-warning"></i> Número de Peças Associadas</span>
                <strong>@Model.NumeroPecas</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span><i class="bi bi-calendar-check-fill me-2 text-info"></i> Última Encomenda</span>
                <strong>
                    @(Model.DataUltimaEncomenda.HasValue
                        ? Model.DataUltimaEncomenda.Value.ToString("dd/MM/yyyy")
                        : "N/A")
                </strong>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span><i class="bi bi-award-fill me-2 text-secondary"></i> Peça Mais Encomendada</span>
                <strong>@(!string.IsNullOrEmpty(Model.PecaMaisEncomendada) ? Model.PecaMaisEncomendada : "N/A")</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span><i class="bi bi-boxes me-2 text-dark"></i> Total de Peças Encomendadas</span>
                <strong>@Model.TotalQuantidadePecas</strong>
            </li>
        </ul>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
